<ol class="items-list">
  <div class="flexrow centerText">
    <input type="text" name="data.attributes.credits.value" value="{{data.attributes.credits.value}}" data-dtype="Number"/>
  </div>
  <li class="item flexrow items-header">
    <div class="item-name">Name</div>
    <div class="item-weight">Weight</div>
    <div class="item-quantity">#</div>
    <div class="item-controls">
      <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add</a>
    </div>
  </li>
  {{#each gear as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name">
        <h4 class="rollable" data-roll-type="item">{{item.name}}</h4>
      </div>
      <div class="item-weight item-prop">{{item.data.weight}}</div>
      <div class="item-quantity item-prop">{{item.data.quantity}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>